

<body>
  <div class="bw">
    <div class="fu">
      <div class="ge aom">
    <div ng-include="'pages/partials/sidebar.html'"></div>

      </div>
      <div class="hc aps">
        <div class="apa">
  <div class="apb">
    <h6 class="apd">Dashboards</h6>
    <h2 class="apc">Overview</h2>
  </div>

  <div class="ob ape">
    <div class="tn aol">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv wt"></span>
    </div>
  </div>
</div>

<div class="anv alg ala">
  <h3 class="anw anx">Quick stats</h3>
</div>

<div class="fu apt">
  <div class="gq gg ala">
    <div class="apu ano">
      <div class="alz">
        <span class="anj">Starter Kits</span>
        <h2 class="ani">
          2
          <small class="ank anl">TOTAL</small>
        </h2>
        <hr class="ans akt">
      </div>

    </div>
  </div>
  <div class="gq gg ala">
    <div class="apu anr">
      <div class="alz">
        <span class="anj">Orders</span>
        <h2 class="ani">
          0
          <small class="ank anm">TOTAL</small>
        </h2>
        <hr class="ans akt">
      </div>

    </div>
  </div>
  <div class="gq gg ala">
    <div class="apu anp">
      <div class="alz">
        <span class="anj">Farm Visits</span>
        <h2 class="ani">
          0
          <small class="ank anl">TOTAL</small>
        </h2>
        <hr class="ans akt">
      </div>
    </div>
  </div>
  <div class="gq gg ala">
    <div class="apu anq">
      <div class="alz">
        <span class="anj">Farm Visit Orders</span>
        <h2 class="ani">
          0
          <small class="ank anm">TOTAL</small>
        </h2>
        <hr class="ans akt">
      </div>
    </div>
  </div>
</div>

<hr class="aky">

<div class="fu">
  <div class="gr ali">
    <div class="by">
      <h4 class="ty">
        Countries
      </h4>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 62.4%;"></span>
          <span class="dy dh">62.4%</span>
          United States
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 15.0%;"></span>
          <span class="dy dh">15.0%</span>
          India
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 5.0%;"></span>
          <span class="dy dh">5.0%</span>
          United Kingdom
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 5.0%;"></span>
          <span class="dy dh">5.0%</span>
          Canada
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 4.5%;"></span>
          <span class="dy dh">4.5%</span>
          Russia
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 2.3%;"></span>
          <span class="dy dh">2.3%</span>
          Mexico
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 1.7%;"></span>
          <span class="dy dh">1.7%</span>
          Spain
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 1.5%;"></span>
          <span class="dy dh">1.5%</span>
          France
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 1.4%;"></span>
          <span class="dy dh">1.4%</span>
          South Africa
        </a>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 1.2%;"></span>
          <span class="dy dh">1.2%</span>
          Japan
        </a>
      
    </div>
    <a href="#" class="ce apn ame">All countries</a>
  </div>
  <div class="gr ali">
    <div class="by">
      <h4 class="ty">
        Most visited pages
      </h4>
      
        <a class="ph" href="#">
          <span class="dy dh">3,929,481</span>
          / (Logged out)
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">1,143,393</span>
          / (Logged in)
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">938,287</span>
          /tour
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">749,393</span>
          /features/something
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">695,912</span>
          /features/another-thing
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">501,938</span>
          /users/username
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">392,842</span>
          /page-title
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">298,183</span>
          /some/page-slug
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">193,129</span>
          /another/directory/and/page-title
        </a>
      
        <a class="ph" href="#">
          <span class="dy dh">93,382</span>
          /one-more/page/directory/file-name
        </a>
      
    </div>
    <a href="#" class="ce apn ame">View all pages</a>
  </div>
</div>

<div class="by">
  <h4 class="ty">
    Devices and resolutions
  </h4>
  
    <a class="ph" href="#">
      <span class="dy dh">3,929,481</span>
      Desktop (1920x1080)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">1,143,393</span>
      Desktop (1366x768)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">938,287</span>
      Desktop (1440x900)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">749,393</span>
      Desktop (1280x800)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">695,912</span>
      Tablet (1024x768)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">501,938</span>
      Tablet (768x1024)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">392,842</span>
      Phone (320x480)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">298,183</span>
      Phone (720x450)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">193,129</span>
      Desktop (2560x1080)
    </a>
  
    <a class="ph" href="#">
      <span class="dy dh">93,382</span>
      Desktop (2560x1600)
    </a>
  
</div>
<a href="#" class="ce apn ame">View all devices</a>

      </div>
    </div>
  </div>

  <div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="ri">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="rj">
        <button type="button" class="ce fh" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>

  <div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modify_farm_visit">
    <div class="modal-content">

      <div class="ri">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Farm</h4>
      </div>
      <div class="modal-body">
        <p>Farm data to edit over here.</p>
      </div>
      <div class="rj">
        <button type="button" class="ce fh" data-dismiss="modal">Save, got it!</button>
      </div>
    </div>
  </div>
</div>

  <script src="app/app.js"></script>
  <script src="app/controllers/dashboardController.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/tablesorter.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>



