        <nav class="aot">
          <div class="aon">
            <button class="amy amz aoo" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="ct">Toggle nav</span>
            </button>
            <a class="aop cn" href="index-2.html">
              <span class="bv"><img src="assets/img/logo-white.png"></span>
              <span class="bv" ng-show="user">
  {{ user_email }}
</span>
            </a>
          </div>

          <div class="collapse and" id="nav-toggleable-sm">
            <form class="aor">
              <input class="form-control" type="text" placeholder="Search...">
              <button type="submit" class="fm">
                <span class="bv adn"></span>
              </button>
            </form>
            <ul class="nav of nav-stacked">
              <li class="tq">Dashboards</li>
              <li class="active">
                <a href="index-2.html">Overview</a>
              </li>
              <li >
                <a href="/#farm-visits">Farm Visits</a>
              </li>
              <li >
                <a href="#/kits">Starter Kits</a>
              </li>
              <li >
                <a href="icon-nav/index.html">Icon nav</a>
              </li>

              <li class="tq">Quick Tasks</li>
              <li >
                <a href="pages/addkit.html">
                  Add Starter Kit
                </a>
              </li>
              <li>
                <a ng-href="/#farm-visits" target="blank">
                  View farm Visits
                </a>
              </li>
              <li >
                <a href="#">Profile settings</a>
              </li>
              <li>
                <a ng-click="logout()">
                  Logout
                </a>
              </li>
              <li>
                <a href="#docsModal" data-toggle="modal">
                  Example modal
                </a>
              </li>
            </ul>
            <hr class="rw aky">
          </div>
        </nav>