
    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  <div class="bw">
    <div class="fu">
      <div class="ge aom">
    <div ng-include="'pages/partials/sidebar.html'"></div>

      </div>
      <div class="hc aps">
        <div class="apa">
  <div class="apb">
    <h6 class="apd">Dashboards</h6>
    <h3 class="apc">Farm Visit Orders</h3>
  </div>

  <div class="ob ape">
    <div class="tn aol">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv wt"></span>
    </div>
  </div>
</div>

<div class="akg ue">
  <div class="akh aki">
    <div class="tn aol">
      <input type="text" class="form-control aqr" placeholder="Search order">
      <span class="bv adn"></span>
      <!-- <button></button> -->
    </div>
  </div>
  <div class="akh">
    <div class="nz">
      <button type="button" class="ce apn">
        <span class="bv aez"></span>
      </button>
      <button type="button" class="ce apn">
        <span class="bv zz"></span>
      </button>
    </div>
  </div>
</div>

<div class="ud">
  <div class="eg">
    <table class="cl" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="aqk" id="selectAll"></th>
          <th>Order</th>
          <th>Full Name</th>
          <th>Farm Description</th>
          <th>Location</th>
          <th>Date Booked</th>
          <th>Amount Paid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" class="aql"></td>
          <td><a href="#">#10001</a></td>
          <td>First Last</td>
          <td> Mushroom farm</td>
          <td>Juja jkuat</td>
          <td>01/01/2015</td>
          <td>$200.00</td>
        </tr>
        <tr>
          <td><input type="checkbox" class="aql"></td>
          <td><a href="#">#10002</a></td>
          <td>Firstname Lastname</td>
          <td> Mushroom farm</td>
          <td>KARI offices westlands</td>
          <td>01/01/2015</td>
          <td>$100.00</td>
        </tr>
        
        <tr>
          <td><input type="checkbox" class="aql"></td>
          <td><a href="#">#10006</a></td>
          <td>First Last</td>
          <td> Onion farm</td>
          <td>Kiserian Rongai</td>
          <td>01/01/2015</td>
          <td>$200.00</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="db">
  <ul class="ow">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>

      </div>
    </div>
  </div>

  <div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="ri">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="rj">
        <button type="button" class="ce fh" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>


    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/tablesorter.min.js"></script>
    <script src="../assets/js/toolkit.js"></script>
    <script src="../assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>

