    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  <div class="bw">
    <div class="fu">
      <div class="ge aom">
    <div ng-include="'pages/partials/sidebar.html'"></div>

      </div>
      <div class="hc aps">
        <div class="apa">
  <div class="apb">
    <h6 class="apd">Dashboards</h6>
    <h2 class="apc">Overview</h2>
  </div>

  <div class="ob ape">
    <div class="tn aol">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv wt"></span>
    </div>
  </div>
</div>

<div class="pull-left">
  <!-- <h3 class="anw anx">Quick statsas</h3> -->
    <a data-target="#addkitModal" data-toggle="modal" class="ce apn ame">Add Starter Kit</a>

</div>


<hr class="aky">

<div class="fu">
  <div class="gr ali">
    <div class="by">
      <h4 class="ty">
        Mushroom Starter Kit
      </h4>
    <span class="ph">
    This kit contains seeds and sprayer.
    </span>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 62.4%;"></span>
          <span class="dy dh">Ksh.2,300</span>
          Seeds
        </a>
  
        <a class="ph" href="#">
          <span class="tz" style="width: 1.2%;"></span>
          <span class="dy dh">Ksh,300</span>
          Sprayer
        </a>
      
    </div>
    <a href="#" class="ce apn ame">Edit</a>
  </div>
  <div class="gr ali">
    <div class="by">
      <h4 class="ty">
        Capsicum Starter Kit
      </h4>
    <span class="ph">
    This kit contains seeds and sprayer.
    </span>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 62.4%;"></span>
          <span class="dy dh">Ksh.1,900</span>
          Seeds
        </a>
  
        <a class="ph" href="#">
          <span class="tz" style="width: 1.2%;"></span>
          <span class="dy dh">Ksh,4000</span>
          Sprayer
        </a>
      
    </div>
    <a href="#" class="ce apn ame">Edit</a>
  </div>
  <div class="gr ali">
    <div class="by">
      <h4 class="ty">
        Onions Starter Kit
      </h4>
    <span class="ph">
    This kit contains seeds and sprayer.
    </span>
      
        <a class="ph" href="#">
          <span class="tz" style="width: 62.4%;"></span>
          <span class="dy dh">Ksh.2,300</span>
          Seeds
        </a>
  
        <a class="ph" href="#">
          <span class="tz" style="width: 1.2%;"></span>
          <span class="dy dh">Ksh,300</span>
          Sprayer
        </a>
      
    </div>
    <a href="#" class="ce apn ame">Edit</a>
  </div>

</div>


  </div>

  <div id="addkitModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="ri">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Kit</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
      <form name="kits_form">
        <input name="kitname" class="form-control" placeholder="Kit name" ng-model="kit_name" ng-minlength="5" required>
             <div class="has-error" ng-messages="kits_form.kitname.$error">
            <span ng-message="required">Kit name required</span>
            <span ng-message="minlength">Kit name must be more than 5 chars</span>
            </div>
        </div>
        <div class="form-group">
        <input class="form-control" placeholder="Kit description" ng-model="kit_desc" required>
        </div>
        <div class="form-group">
        <input class="form-control" placeholder="Requirements" ng-model="kit_requirements" required>
        </div>
        <div class="form-group">
        <input class="form-control" placeholder="Price" ng-model="kit_price" required>
        </div>
        <div class="form-group">
        <input class="form-control" placeholder="Items" ng-model="kit_items" required>
        </div>
        </form>
      </div>
      <div class="rj">
        <button ng-disabled="kits_form.$invalid" type="submit" ng-click="addKit()" class="ce fh" data-dismiss="modal">Add Kit</button>
      </div>
    </div>
  </div>
</div>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/tablesorter.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>

<!-- Mirrored from bootstrap-themes.github.io/dashboard/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jul 2016 12:40:21 GMT -->
</html>

