<body class="container">
    <div class="container row">
        <div class="col-sm-8 col-sm-push-1 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
            <div class="center m-a-2">
                <div class="icon-block img-circle">
                    <i class="material-icons md-36 text-muted">lock</i>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header bg-white center">
                    <h4 class="card-title">Login</h4>
                    <img width="70px;" src="assets/img/logo-green.png">
                    <p class="card-subtitle">Admin Login</p>
                </div>
                <div class="p-a-2">
                    <flash-message>
                        <div class="my-flash">{{ flash.text }}</div>
                    </flash-message>
                    <form>
                        <div class="form-group">
                            <input name="user_email" type="email" class="form-control" placeholder="Email Address" ng-model="user.email_address" required>
                            <div class="has-error" ng-messages="registerForm.user_email.$error">
                                <span ng-message="required">Email required</span>
                                <span ng-message="email">Invalid email</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                        </div>
                        <div class="form-group ">
                            <button id="btnlogin" style="margin: 0px;" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signIn()">Login</button>
                            <button id="btnlogin2" style="margin: 0px;" class="btn btn-lg btn-primary btn-block card hoverable" type="submit" ng-disabled="true">Hold on...signing you in </button>
                        </div>
                        <div class="center">
                            <!-- <button ng-click="signIn()"></button> -->
                            <a href="#">
                                <small>Forgot Password?</small>
                            </a>
                        </div>
                    </form>
                </div>
                <!--         <div class="card-footer center bg-white">
          Not yet a student? <a href="s.html">Sign up</a>
        </div> -->
            </div>
        </div>
    </div>
</body>
